/* ******************************************************
 * Mini-ui.css - Stylesheet for the UI extension of Mini.js
 * Version: 0.1
 *
 * Developed by: Antony Lloyd - antony-lloyd.com
 * ******************************************************
 * The MIT License (MIT)
 *
 * Copyright (c) 2015 Antony Lloyd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 *********************************************************/
 /**
  * Popups
  */
#mini-ui-popup-container {
	display 					: none;
	position 					: fixed;
	top 						: 0;
	left 						: 0;
	width 						: 100%;
	height 						: 100%;
	z-index 					: 1000;
	background 					: rgba(0, 0, 0, 0.3);
}

#mini-ui-popup-container > div {
	display 					: none;
	position 					: absolute;
	left 						: 50% !important;
	top 						: 50% !important;
	-webkit-transform 			: translate(-50%, -50%);
	-moz-transform 				: translate(-50%, -50%);
	-o-transform 				: translate(-50%, -50%);
	transform 					: translate(-50%, -50%);

	min-width 					: 100px;
	min-height 					: 100px;
	max-width 					: 100%;
	max-height 					:100%;
	background 					: rgba(255, 255, 255, 0.9);
	border-radius 				: 3px;

	-webkit-box-shadow 			: 0px 0px 32px 8px rgba(0,0,0,0.32);
	-moz-box-shadow 			: 0px 0px 32px 8px rgba(0,0,0,0.32);
	box-shadow 					: 0px 0px 32px 8px rgba(0,0,0,0.32);
}

#mini-ui-popup-container > div .mini-ui-dialog-title {
	border-top-left-radius 		: 3px;
	border-top-right-radius 	: 3px;
	padding 					: 10px;
	background 					: rgba(217, 217, 217, 0.9);
	color 						: #000;
}

#mini-ui-popup-container > div .mini-ui-dialog-content {
	padding 					: 10px;
	color 						: #000;
}

#mini-ui-popup-container > div .mini-ui-dialog-content > img {
	max-width 					: 100%;
}

#mini-ui-popup-container > div .mini-ui-dialog-buttons {
	bottom 						: 0px;
	width 						: 100%;
	padding 					: 10px;
	text-align 					: right;
	-webkit-box-sizing 			: border-box;
	-moz-box-sizing 			: border-box;
	-o-box-sizing 				: border-box;
	box-sizing 					: border-box;
	background 					: rgba(230, 230, 230, 0.9);
}

#mini-ui-popup-container > div .mini-ui-dialog-buttons button {
	padding 					: 10px 25px;
	background 					: #1EA0A9;	
	border 						: none;	
	color 						: #FFF;
}

#mini-ui-popup-container > div .mini-ui-dialog-buttons button:not(:last-child) {
	margin-right 				: 5px;
}

#mini-ui-popup-container > div .mini-ui-dialog-buttons button:hover {
	cursor 						: pointer;
	background 					: #1A8B93;
}

/**
 * Slider
 */
.mini-ui-window {
	-webkit-transition 			: all 0.2s ease-in-out;
    -moz-transition 			: all 0.2s ease-in-out;
    -o-transition 				: all 0.2s ease-in-out;
    transition					: all 0.2s ease-in-out;
}

/**
 * Shake
 */
*.mini-ui-shake {	
	animation 					: shake .2s ease-in-out;
}

@-webkit-keyframes shake {
   0%, 100% {transform: translateX(0); } 
   10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
   20%, 40%, 60%, 80% {transform: translateX(+10px);} 
} 